<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>bing-bong Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>bing-bong.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D467F6852B4E8819007211DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D467F6952B4E881B007211DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D467F69F2B4E881B007211DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D467F6AB2B4E881B007211DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D467F6BD2B4E881D007211DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D467F6C72B4E881D007211DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
